{% extends 'base.html'%}
{% load static %}

{% block title %} Главная новая {% endblock %}

{% block content %}

  <!-- Панель навигации -->
  <ul class="nav nav-pills sticky-top bg-white nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <span style="font-weight: bold;">Главная</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'top-sellers' %}"><span style="font-weight: bold;">Топ продавцов</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'adv-post' %}">
        <span style="font-weight: bold;">Разместить объявление</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="register.html">
        <span style="font-weight: bold;">Регистрация</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="login.html">
        <span style="font-weight: bold;">Войти</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile.html">
        <span style="font-weight: bold;">Профиль</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span style="font-weight: bold;">Выйти</span>
      </a>
    </li>
  </ul>

  <!-- Приветствие -->
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Сообщите миру об этом в этой форме</span>
      </div>
    </div>
  </div>

  <!-- Контейнер -->
  <div class="container">

    <!--Форма-->
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row mb-3">
        <div class="col">
          {{ form.as_p }}
        </div>
      </div>
      <div class="row mb-3 offset-sm-5">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>

  </div>

{% endblock %}